
/* Variables */
:root {
  --primary-color: rgba(0,46,78,1);
  --secondary-color: #ffcc5e;
  --third-color: #00649d;
  --quarter-color: #a6bcbc;
}
/* Variables end */


body {
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.alert { 
  width: 100%; 
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.btn-primary {
  background-color: var(--secondary-color)!important;
  border-color: var(--secondary-color)!important;
  color: var(--primary-color)!important;
}

.btn-primary:hover {
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important;
  color: white!important;
}

.btn-primary:focus,
.btn-primary:active {
  box-shadow: none!important;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus-visible,
textarea:focus-visible  {
  box-shadow: none!important;
}

input:focus-visible,
input:focus-visible {
  border-color: var(--secondary-color);
}

/* MEDIA QUERIES */
@media (min-width: 480px) {

}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  

}

@media (min-width: 1200px) {

}
