/* Video */
.home .video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.home .video h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 100;
  font-style: normal;
}

.home .video h1 span {
  font-weight: 300;
  font-style: italic;
}

.home .video h1:before {
  content:url('../img/commons/figure-down.png'); /* with class ModalCarrot ??*/
  position: absolute;
  display: inline-block;
  bottom: -50px;
  left: -40px;
  transform: scale(0.5);
}

.home .video h1:after {
  content:url('../img/commons/figure-up.png'); /* with class ModalCarrot ??*/
  position: absolute;
  display: inline-block;
  top: -45px;
  right: -40px;
  transform: scale(0.5);
}

.home .video .content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.home .video .content h1 {
	color: white;
}

.home .video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.home .video .container {
  position: relative;
  z-index: 2;
}

.home .video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.home .video .overlay_inst {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}
/* Video end */

/* Datos */
.home .datos h2 {
	color: var(--text-color);
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 60px;
}

.home .datos p {
	margin-bottom: 30px;
}
/* Datos end */

/* Productos */
.home .productos {
	color: var(--text-color);
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 60px;
}

.home .productos .content img {
	margin: -230px auto 0 auto;
}

.home .item_galeria .content {
	background-color: #d2d2d2;
	overflow: visible;
	padding-top: 100px;
	margin-top: 100px;
}

.home .item_galeria .content h4 {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home .item_galeria .montavehiculos {
	min-height: calc(100% - 10px);
	height: calc(100% - 10px);
}

.home .item_galeria .montavehiculos .footer {
	margin-top: 65px;
}

.home .item_galeria .montavehiculos img {
	margin-top:  -300px;
}

.home .item_galeria .footer {
	flex-direction: column;
	display: flex;
	align-items: center;
	padding: 0 10px 15px 10px;
}

.home .item_galeria .footer h4 {
	font-size: 1.15rem;
	font-weight: 700;
	color: var(--secondary-color);
}

.home .item_galeria .footer a {
	font-size: 1rem;
	font-weight: 300;
	color: var(--secondary-color);
}

.home .item_galeria .footer a:hover {
	color: white;
}
/* Productos end */

/* Sistemas Disponibles */
.home .sistemas {
	margin-bottom: 60px;
}

.home .sistemas .col-md-4 {
	margin-bottom: 30px;
	text-align: center;
}

.home .sistemas .col-md-4:last-child {
	margin-bottom: 0;
}

.home .sistemas .col-md-4 img {
	margin-bottom: 15px;
	max-width: 25%;
}

.home .sistemas .col-md-4 h3 {
	font-weight: 700;
}

.home .sistemas .col-md-4 p {
	padding-bottom: 15px;
	border-bottom: solid 1px var(--text-color);
}

.home .sistemas .col-md-4:last-child p {
	padding-bottom: 0;
	border-bottom: none;
}
/* Sistemas Disponibles end */



/* MEDIA QUERIES */
@media (min-width: 576px) {

	/* Video */
	.home .video h1 {
	  font-size: 3rem;
	}
	/* Video end */

	/* Datos */
	.home .datos h2 {
		margin-bottom: 30px;
	}

	.home .datos p {
		margin-bottom: 90px;
	}
	/* Datos end */
  
}

@media (min-width: 768px) {

	/* Datos */
	.home .datos p {
		font-size: 1.2rem;
	}
	/* Datos end */

	/* Sistemas Disponibles */
	.home .sistemas {
		margin-bottom: 30px;
	}

	.home .sistemas .col-md-4 {
		margin-bottom: 0;
		margin-top: 60px;
	}

	.home .sistemas .col-md-4 img {
		margin-bottom: 25px;
	}

	.home .sistemas .col-md-4 h3 {
		min-height: 45px;
		margin-bottom: 15px;
		font-size: 1.15rem;
		align-items: center;
	}

	.home .sistemas .col-md-4 p {
		text-align: left;
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	/* Sistemas Disponibles end */

}

@media (min-width: 992px) {

	/* Video */
	.home .video h1 {
		margin-top: 80px;
		font-size: 3.5rem;
	}
	/* Video end */

	/* Datos */
	.home .datos p {
		font-size: 1.3rem;
	}
	/* Datos end */
  

}

@media (min-width: 1200px) {

	/* Productos */
	.home .item_galeria .footer h4 {
		font-size: 1.25rem;
	}

	.home .item_galeria .footer a {
		font-size: 1.125rem;
	}
	/* Productos end */

	/* Sistemas */
	.home .sistemas .col-md-4 h3 {
		font-size: 1.25rem;
	}
	/*  Sistemas end */

	/* Productos */
	.home .productos {
		margin-bottom: 60px;
	}
	/* Productos end */

	/* Sistemas */
	.home .sistemas {
		margin-bottom: 60px;
	}
	/* Sistemas end */

}

@media (min-width: 1600px) {

	/* Productos */
	.home .item_galeria .montavehiculos {
		min-height: 560px;
		height: 560px;
	}

	.home .item_galeria .montavehiculos .footer {
		margin-top: 0;
	}

	.home .item_galeria .montavehiculos .footer {
		margin-top: -67px;
	}

	.home .item_galeria .montavehiculos img {
		max-width: 440px;
		width: 440px;
		margin-top: -320px;
	}
	/* Productos end */

}





